<section class="containerSectionCard">
  <div>
    <app-input-button
      [inputType]="typeImage"
      [inputSrc]="inputImg"
    ></app-input-button>
  </div>
  <div>
    <app-text
      [textTitleChildren]="textTitleFather"
      [textParagraphChildren]="textParagraphFather"
    ></app-text>
  </div>
  <div>
    <app-input-button
      [inputType]="typeButton"
      *ngFor="let numberButton of numberButtons"
      [ArryNumbers]="numberButton"
      (click)="captureOptionNumber(numberButton)"
    ></app-input-button>
  </div>
  <div>
    <app-input-button
      (click)="onSubmit()"
      [inputType]="typesubmit"
      [ArryNumbers]="typesubmit"
    ></app-input-button>
  </div>
</section>
